<div style="text-align: center">

  <div class="title">
    <h1>Bienvenido</h1>
  </div>

  <div class="title">
    <h1> lista de usuarios </h1>
  </div>
</div>

<div class="user-content" *ngFor="let user of users ; let i = index ">


  <div class="user-data">
    Username: 
    <input type="text" [(ngModel)]="user.username">
  </div>


  <div class="user-data">
    name: 
    <input type="text" [(ngModel)]="user.name">
  </div>


  <div class="user-data">
    age: 
    <input type="text" [(ngModel)]="user.age">
  </div>


  <div class="user-data">
    Num_phone: 
    <input type="text" [(ngModel)]="user.Num_phone">
  </div>


  <div class="user-data">
    city: 
    <input type="text" [(ngModel)]="user.city">
  </div>

  <div class="user-data">
    <button type="button" (click)="eliminarUsuario(i)"> eliminar usuario </button>
    <button type="button" (click)="guardarUsuarios(i)"> guardar usuarios </button> 
  </div>
  

</div>

<div class="title">
  <h1> Creacion de usuario </h1>
</div>
<div class="user-content">


  <div class="user-data">
    Username:
    <input type="text" [(ngModel)]="user.username">
  </div>


  <div class="user-data">
    name:
    <input type="text" [(ngModel)]="user.name">
  </div>


  <div class="user-data">
    age:
    <input type="text" [(ngModel)]="user.age">
  </div>


  <div class="user-data">
    Num_phone:
    <input type="text" [(ngModel)]="user.Num_phone">
  </div>


  <div class="user-data">
    city:
    <input type="text" [(ngModel)]="user.city">
  </div>


  <div>
    <button type="button" (click)="crearUsuario()"> ingresar </button>
  </div>

  <router-outlet></router-outlet>