.user-content{

    background-color: rgb(188, 241, 254);
    display: block;
    border: 1px solid #0b0b0b;
    padding: 5px;
    margin-bottom: 20px;
}
.user-data{
    display: inline-block;
    color: black;
    width: 10%;
    margin-right: 10px;
}
.title{
    
    display: block;
    font-size:30px; 
    font-weight: 900;
    text-align: center;
    margin: 5px;
}
.user-column{
    width: 50%;
    display: inline-block;
}
.button{
    cursor: pointer;
}
